zlatoivan.ru {
    reverse_proxy localhost:7070
    log {
        output file /var/log/caddy/access.log {
            roll_size 10MB
            roll_keep 100
            roll_keep_days 30
        }
        level INFO
    }
}