<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donut Animation</title>
    <link rel="stylesheet" type="text/css" href="/static/style/donut.css">
    <script src="/static/script/donut.js"></script>
</head>

<body>
    <h1>Canvas Donut Animation</h1>
    <canvas id="canvasDonut" width="300" height="240" onclick="canvasDonutAnimation()"></canvas>

    <h1>ASCII Donut Animation</h1>
    <div id="asciiDonut" onclick="asciiDonutAnimation()"></div>
</body>
</html>