body {
    font-family: monospace;
    text-align: center;
}
#donut {
    width: 80ch; /* 80 characters wide */
    height: 28em; /* 22 lines tall */
    overflow: hidden; /* Hide overflow */
    white-space: pre; /* Preserve whitespace for ASCII art */
    margin: 0 auto; /* Center the div */
}
#canvasdonut {
    display: block;
    margin: 0 auto;
}