<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
</head>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="static/images/face_sqr.png" style="width:100%" alt="Avatar">
                </div>
                <div class="w3-container">
                    <p class="w3-display-bottomleft w3-container w3-text-black"><h2>Златовратский Иван Антонович</h2></p>

                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Golang Backend Developer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Moscow, RU</p>
                    <p><i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i><a target="_blank" rel="noopener noreferrer" href="https://github.com/zlatoivan">github</a></p>
                    <p><i class="fa fa-telegram fa-fw w3-margin-right w3-large w3-text-teal"></i><a target="_blank" rel="noopener noreferrer" href="https://t.me/ivantheboss">telegram</a></p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>zlatoivan4@gmail.com</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-check-square fa-fw w3-margin-right w3-text-teal"></i>Ключевые навыки</b></p>
                    <p>
                        <span>Golang</span>&emsp;
                        <span>Python</span>&emsp;
                        <span>PostgreSQL</span>&emsp;
                        <span>Docker</span>&emsp;
                    </p>
                    <p>
                        <span>Prometheus</span>&emsp;
                        <span>Grafana</span>&emsp;
                        <span>Redis</span>&emsp;
                        <span>Linux</span>&emsp;
                    </p>
                    <p>
                        <span>Testing</span>&emsp;
                        <span>HTML</span>&emsp;
                    </p>
                    <hr>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Иностранные языки</b></p>
                    <p>Английский B2</p>
                    <br>
                </div>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Опыт работы</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Оператор ЭВМ</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Декабрь 2021 - <span class="w3-tag w3-teal w3-round">Настоящее время</span></h6>
                    <p>В медицинской организации мной были обнаружены однообразные рабочие процессы,
                        которые занимали много ручной обработки врачами. Я написал программы, которые
                        автоматизируют данные процессы. Использовал парсинг данных с медицинских инструментов
                        и сайтов, анализировал эти данные, выводил их в удобном виде, оповещая об этом руководство
                        в чатах. Также, программа автоматически обрабатывала обращения пациентов в
                        организацию, если обращение поддается шаблону. Мои действия сэкономили действия врачей
                        и деньги организации.</p>
                    <br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-mortar-board fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Образование</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>МГТУ им. Баумана (Высшее, Бакалавр)</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - 2024</h6>
                    <p>Факультет - Информатика и системы управления</p>
                    <p>Программа - Прикладная математика и информатика</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Лицей при МГТУ им. Баумана (Среднее общее)</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
                    <br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-trophy fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Обо мне</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Проекты, достижения</b></h5>
                    <ul>
                        <p><li>Автоматизировал рутину в больнице</li></p>
                        <p><li>Призер хакатона Неймарк, Нижний Новгород</li></p>
                        <p><li>Сделал веб-платформу для блогов с базой данных - аналог социальной сети</li></p>
                        <p><li>Написал бэкенд для мобильного приложения - игры</li></p>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Личные качества</b></h5>
                    <ul>
                        <p><li>Люблю углубляться в предметную область, осваивая ее, становясь опытным специалистом</li></p>
                        <p><li>Не боюсь трудностей</li></p>
                        <p><li>Ответственный, добрый</li></p>
                    </ul>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
    <br>

    <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>© zlatoivan</p>
</footer>

</body>
</html>
